@import 'src/styles/colors.scss';

.bounties {
	&__bounty {
		margin: 2rem 0;
		padding: 1rem;
		background-color: $white;
		box-shadow: $shadow;
		border-radius: 0.25rem;
		
		&__header {
			display: flex;
			font-size: 1.25rem;
			color: $darkGrey;
			width: 100%;
			align-items: center;

			&__title {
				flex: 1;
			}

			&__value {
				margin: 0 2rem 0 1rem;
			}
		}

		&__body {
			width: 100%;
			word-break: break-all;
			color: $darkGrey;
			margin: 1rem 0;
		}
	}

	&__new-bounty {
		margin: 2rem 0;

		&__form {

			&__header {
				display: flex;
				width: 100%;
				align-items: center;

				&__title {
					flex: 1;
					margin-right: 1rem;
				}

				&__value {
					margin-left: 0.5rem;
				}
			}

			&__body {
				margin: 1rem 0;
				padding-right: 1.25rem;

				&__description {
          width: 100%;
          font-size: 1rem !important;
				}
			}

			&__submit {
				display: flex;
				justify-content: flex-end;
			}
		}
	}
}

@media screen and (max-width: 40em) {

  .bounties {
    &__new-bounty {
      &__form {
        &__header {
					flex-direction: column;
					align-items: flex-start;
					
					&__title {
						margin: 0 0 1rem 0;
					}

					&__value {
						margin: 0;
					}

					&__body {
						padding: 0;
					}
        }
      }
    }
  }
}