.repositories {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__search {
    width: 100%;
    display: flex;
    padding: 2rem 1rem;

    &__input {
      flex: 1;
    }

    &__button {
      margin: 0 1rem;
      padding-right: 1rem;
    }
  }

  &__results {
    flex: 1;
    overflow-y: auto;
  }
}

