@import 'src/styles/colors.scss';

.header {
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: $shadow;
  z-index: 99;
  background-color: $white;

  &__logo {
    margin-left: 1rem;
    img {
      height: 3rem;
    }
  }

  &__nav {
    display: flex;

    &__badge {
      padding: 0.5rem 1rem;
      background-color: $primary;
      color: $white;
      border-radius: 1rem;
      margin-right: 2rem;
    }

    &__item {
      margin-right: 2rem;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $darkGrey;
    }
  }
}