@import 'src/styles/colors.scss';

.header {
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: $shadow;
  z-index: 99;

  &__logo {
    margin-left: 1rem;
    img {
      height: 3rem;
    }
  }

  &__nav {
    &__item {
      margin: 0 1rem;
    }
  }
}