//Shades of grey
$white: #fff;
$almostWhite: #f1f1f1;
$lighterGrey: #e0e0e0;
$lightGrey: #bbbbbb;
$grey: #979797;
$mediumGrey: #6a6a6a;
$darkGrey: #3b3b3b;
$almostBlack: #1a1a1a;

//Color palettes
$primary: $darkGrey;
$secondary: $mediumGrey;
$accent1: #ff6968;
$accent2: $almostBlack;
$accent3: $almostBlack;

//UI colors
$alertRed: #ff4949;
$cautionYellow: #f18100;
$successGreen: #13c366;

//box shadows
$shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
