@import 'src/styles/colors.scss';

.repository {
  padding: 2rem 1rem;
  display: flex;

  &__sidebar {
    &__owner {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__avatar {
        height: 10rem;
        width: 10rem;
      }

      &__name {
        font-size: 1.5rem;
        margin: 1rem 0;
      }
    }
  }

  &__body {
    padding: 0 2rem;
    flex: 1;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &__title {
        font-size: 2rem;
        color: $darkGrey;
      }

      &__stats {
        display: flex;

        &__label {
          color: $darkGrey;
          margin-right: 1rem;
        }
      }
    }

    &__description {
      color: $darkGrey;
      margin-top: 1rem;
    }

    &__register {
      width: 100%;
      margin: 2rem 0;
      display: flex;
      justify-content: flex-end;
    }

    &__tabs {
      margin: 1rem 0;

      &__header {
        display: flex;

        &__tab {
          flex: 1;
          display: flex;
          justify-content: center;
          padding: 1rem 0;

          a {
            color: $darkGrey;
            text-decoration: none;
          }

          &--active {
            border-bottom-style: solid;
            border-bottom-color: $primary;
            border-bottom-width: 0.125rem;
            a {
              color: $primary;
            }
          }
        }
      }

      &__body {
      }
    }
  }
}

@media screen and (max-width: 40em) {
  .repository {
    flex-direction: column;

    &__body {
      &__header {
        flex-direction: column;
      }

      &__register {
        justify-content: center;
      }
    }
  }
}
