@import 'src/styles/colors.scss';

.repo {
  display: flex;
  margin: 1rem;
  background-color: $white;
  box-shadow: $shadow;
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;

  &__owner {
    &__avatar {
      height: 5rem;
      width: 5rem;
      border-radius: 0.25rem;
    }
  }

  &__body {
    flex: 1;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__header {
      display: flex;

      &__label {
        color: $darkGrey;
        margin: 0.25rem 1rem 0 0;
      }
    }

    &__description {
      color: $darkGrey;
      margin: 1rem 0;
      word-wrap: break-word;
      word-break: break-all;
    }
  }
}

@media screen and (max-width: 40em) {
  .repo {
    &__body {
      &__header {
        flex-direction: column;
      }
    }
  }
}