@import 'src/styles/colors.scss';

.account {
  padding: 2rem 1rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      font-size: 2rem;
      color: $darkGrey;
    }

    &__selector {
      max-width: 100%;
      
      select {
        max-width: 100%;
      }
    }
  }

  &__body {
    display: flex;
    justify-content: center;
    padding: 2rem 0;

    &__sidebar {
      box-shadow: $shadow;
      background-color: $white;
      padding: 2rem;
      margin: 1rem 0;

      &__title {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        color: $darkGrey;
      }
      &__label {
        color: $darkGrey;
        font-size: 1.25rem;
      }
      &__value {
        color: $grey;
        margin: 1rem 0;
        font-size: 1.25rem;
      }
    }

    &__content {
      padding: 2rem;

      &__form {
        label {
          color: $darkGrey;
        }

        &__input-group {
          display: flex;
          align-items: center;
          margin: 1rem 0 2rem 0;

          &__button {
            margin-left: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 40em) {
  .account {
    &__header {
      flex-direction: column;

      &__title {
        margin-bottom: 1rem;
      }
    }

    &__body {
      flex-direction: column;

      &__content {
        padding-left: 0;

        &__form {
          &__input-group {
            input {
              max-width: 10rem;
            }
          }
        }
      }
    }
  }
}
